ul {
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20pt;
}
li {
    width: 300pt; 
    border: 1pt solid #ccc; 
    padding: 0pt;
    border-radius: 8pt;
    background-color: #f9f9f9;
}
img{
    width: 400pt;
    max-height: 200pt;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-align: center;
    color: #555;
    font-weight: normal;
    padding-bottom: 30pt;
}

li img {
    width: 100%; 
    max-width: 300pt; 
    height: auto;
    max-height: 125pt; 
    object-fit: cover;
    margin-bottom: 10pt;
    border-radius: 8pt 8pt 0pt 0pt;
}

li a {
    margin: 1.3rem;
    font-size: 18pt;
    font-weight: bold;
    color: #1e5ba1;
}
li a:hover {
    color: #0056b3;
}
li p {
    margin: 1.3rem;
    margin-top: 0.8rem;
    font-size: 14pt;
    color: #555;
}