ul {
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20pt;
}
li {
    width: 300pt; 
    border: 1pt solid #ccc; 
    padding: 15pt;
    border-radius: 8pt;
    background-color: #f9f9f9;
}

li img {
    width: 100%; 
    max-width: 300pt; 
    height: auto;
    max-height: 125pt; 
    object-fit: cover;
    margin-bottom: 10pt;
}

li a {
    font-size: 18pt;
    font-weight: bold;
    color: #1e5ba1;
}
li a:hover {
    color: #0056b3;
}
li p {
    margin-top: 10pt;
    font-size: 14pt;
    color: #555;
}